/* Abstacts */
/* Base */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* Components */
.Square {
  border: 1px solid black;
  height: 8rem;
  width: 8rem; }
  .Square--is-on {
    background-color: #D043BE; }
  .Square--is-off {
    background-color: whitesmoke; }
