.GameContainer {
    border:         3px solid white;
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    height:         auto;
    left:           50%;
    position:       fixed;
    transform:      translate(-50%, -50%);
    top:            50%;
    width:          41rem;
}