.GameOver {
  border-radius : 70px;
  height        : 80rem;
  left          : 50%;
  position      : absolute;
  text-align    : center;
  top           : 50%;
  transform     : translate(-50%, -50%);
  width         : 100rem;

  &__header {
    color       : white;
    font-family : "neontubes";
    font-size   : 3rem;
  }

  &__main {

    .nav {

      &__button {
        animation        : blink 5s linear infinite alternate,
        blinkTwice 3s linear infinite;
        background-color : #d043be;
        border           : none;
        border-radius    : 5px;
        box-shadow       : 0 0 0 transparent, 0 0 10px #d043be, 0 0 20px #d043be, 0 0 40px #d043be, 0 0 100px #d043be, 0 0 200px #d043be, 0 0 300px #d043be;
        font-family      : neontubes;
        font-size        : 1.6rem;
        height           : 5rem;
        width            : 15rem;
      }
    }
  }
}
