@import '../abstracts/_typography.scss';
@import '../abstracts/_animations.scss';

.LightsOut {
    &__header {
        //border:   1px solid white;
        height:   13rem;
        margin:   1.6rem auto;
        position: relative;
        text-align: center;
        width:    60rem;

        .header {
            font-family: 'neontubes';
            font-size:   7rem;
            left:        50%;
            margin: 0;
            position:    absolute;
            top:         50%;
            transform:   translate(-50%, -50%);
            width: 100%;
            color: #ffd9e2;
            text-shadow: 0 0 0 transparent,
                         0 0 10px #ff003c,
                         0 0 20px #ff003c,
                         0 0 40px #ff003c,
                         0 0 100px #ff003c,
                         0 0 200px #ff003c,
                         0 0 300px #ff003c,
                         0 0 500px #ff003c,
                         0 0 1000px #ff003c;
            animation: blink 5s linear infinite alternate,
                       blinkTwice 3s linear infinite ;
        }
    }

    &__game-container {
        //border:         3px solid white;
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        height:         auto;
        left:           50%;
        position:       absolute;
        transform:      translate(-50%, -50%);
        top:            50%;
        width:          41rem;

        box-shadow: 0 0 0 transparent,
                    0 0 10px #D043BE,
                    0 0 20px #D043BE,
                    0 0 40px #D043BE,
                    0 0 100px #D043BE,
                    0 0 200px #D043BE,
                    0 0 300px #D043BE;
                    //0 0 500px #D043BE;
                    //0 0 1000px #D043BE;
        z-index: -1;
    }
}