.Square {
    border: 1px solid black;
    height:           10rem;
    width:            10rem;

    &--is-on {
        background-color: #D043BE;
    }

    &--is-off {
        background-color: whitesmoke;
    }
}